@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Jakarta+Sans+Plus:wght@400;700&display=swap');


nav {
    background-color: #FEFEFE;
}

body {
    background-color: #FEFEFE;
    font-family: 'Jakarta Sans Plus', sans-serif;
}